<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<nav class = "topNavigationBar"> 
    <p id = "1">
        Genre
    </p>
     <p id = "2">
        CeedGangCorporation
    </p>
     <p id = "3">
        Publish
    </p>
    <button> search </button>
</nav>
   
 
    <h2>Popular</h2>
    
    <h2>Most Artistic</h2>
    
    <h2>Genres</h2>
    
    <h3>Privacy Policy</h3>
    
    <h3>About</h3>
    
    <h3>User Settings</h3>
    

</body>
</html>
