<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bear Comics</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Slide Show</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>

</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Bear Comics</title>
    <link rel="stylesheet" type="text/css" href="theme.css">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<nav class = "topNavigationBar"> 
    <p id = "1">
        Genre
    </p>
     <p id = "2">
        CeedGangCorporation
    </p>
     <p id = "3">
        Publish
    </p>
    <button> search </button>
</nav>
   
 
    <h2>Popular</h2>
    
    <h2>Most Artistic</h2>
    
    <h2>Genres</h2>
    
    <h4>Privacy Policy</h4>
    
    <h4>About</h4>
    
    <h4>User Settings</h4>
    

</body>
</html>
