<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bear Comics</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

  <body>
<nav class = "topNavigationBar"> 
    <p id = "1">
        Genre
    </p>
     <p id = "2">
        CeedGangCorporation
    </p>
     <p id = "3">
        Publish
    </p>
    <button> search </button>
</nav>
   
 
    <h2>Popular</h2>
    
    <h2>Most Artistic</h2>
    
    <h2>Genres</h2>
    
    <h4>Privacy Policy</h4>
    
    <h4>About</h4>
    
    <h4>User Settings</h4>
    

</body>

</html>


