<!DOCTYPE html>
<html>
<head>
	<title>Test upload files</title>
</head>
<body>
	<h1>Upload a file</h1>
	<form action="/upload" method="post" enctype="multipart/form-data">
		<input type="text" name="fileName" placeholder="Enter File Name">
		<input type="file" name="newFile">
		<input type="submit" value="Upload!">
	</form>
	<hr>
	<h1>Retrieve a file</h1>
	<form action="/uploadTest/getFile" method="get">
		<input type="text" name="fileName" placeholder="Enter File Name">
		<input type="submit" value="Get File">
	</form>
</body>
</html>